<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="FocusoneHost" value="203.154.41.15" />
    <add key="FocusonePort" value="9010" />
    <add key="StationID" value="WH01" />
    <add key="StationName" value="TST WH" />
    <add key="WMSPrinterName" value="" />
    <add key="DBHost" value="203.154.41.15" />
    <add key="DBPort" value="" />
    <add key="DBName" value="TST_ERP" />
    <add key="DBUsername" value="link" />
    <add key="DBPassword" value="agape@2017" />
    <add key="BranchID" value="" />
    <add key="PrintHead1" value="" />
    <add key="PrintHead2" value="" />
    <add key="PrintFoot1" value="" />
    <add key="PrintFoot2" value="" />
    <add key="ComPort" value="COM3" />
    <add key="ScalesBrand" value="PM02" />
    <add key="PlantCode" value="00" />
    <add key="StorageCode" value="001" />
    <add key="Rackbin" value="" />
    <add key="ShipmentType" value="-" />
    <add key="PosID" value="99" />
    <add key="BatchDocType" value="BX99" />
    <add key="BatchDetailDocType" value="SN99" />
    <add key="PalletGroupDocType" value="PL99" />
    <add key="GRDocType" value="-" />
    <add key="GRReason" value="00" />
    <add key="QCTransferDocType" value="-" />
    <add key="ManageOtherTransferDocType" value="-" />
    <add key="ManageOtherReason" value="01" />
    <add key="ManageOtherReasonForReject" value="01" />
    <add key="GoodsIncreaseDoctype" value="GRI01" />
    <add key="GoodsIncreaseReason" value="-" />
    <add key="GoodsAdjustDoctype" value="-" />
    <add key="GoodsAdjustReason" value="-" />
    <add key="GoodsReturnDoctype" value="-" />
    <add key="GoodsReturnReason" value="-" />
    <add key="ScaleReceiveDataMode" value="CONTINOUS" />
    <add key="ScaleStableRate" value="3" />
    <add key="ReserveTransferDocType" value="" />
    <add key="ReserveTransferReason" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Precision" value="0" />
    <add key="CompanyCode" value="1000" />
    <add key="BaudRate" value="9600" />
    <add key="Parity" value="None" />
    <add key="StopBits" value="One" />
    <add key="DataBits" value="8" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>